package components

type Article struct {
	Title   string
	Preview string
	Author  string
	Date    string
}

templ ArticleList(articles []Article) {
	for _, article := range articles {
		<div>
			<h2>{ article.Title }</h2>
			<p>{ article.Preview }</p>
			<p><strong>Author:</strong> { article.Author }</p>
			<p><em>Date: { article.Date }</em></p>
		</div>
	}
	<div hx-get="/articles" hx-trigger="revealed" hx-swap="outerHTML">we need to load more</div>
}
